@media (max-width: 992px) and (orientation: landscape) {
    .menu {
        &__block {
            padding-left: 40px;
            padding-top: 60px;
        }
        &__link {
            margin-bottom: 10px;
            &:before {
                left: 0;
                width: 15px;
                height: 15px;
                top: 27%;
                left: -13%;
            }
            a {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &__social {
            bottom: 10px;
        }
    }
    .promo {
        padding-top: 100px;
        &_btn {
            margin-top: 15px;
        }
    }
}

@media (max-width: 1380px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .aboutme {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            column-gap: 20px;
        }
    }
    .resume {
        &__wrapper {
            column-gap: 44px;
        }
    }
    .myskills {
        &__wrapper {
            margin-top: 30px;
            grid-template-columns: repeat(3,270px);
            justify-content: space-between;
        }
    }
    .progress {
        padding-top: 20px;
        &__wrapper {
            grid-template-columns: repeat(3,310px);
            column-gap: 15px;
            row-gap: 15px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 28px;
        &_fz16 {
            font-size: 14px;
        }
        &_fz14 {
            font-size: 12px;
        }
    }
    .aboutme {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: 270px 428px;
            column-gap: 20px;
            row-gap: 10px;
        }
        &__skills {
            margin-top: 15px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,207px);
            column-gap: 15px;
        }
        &__skill {
            grid-template-columns: 39px minmax(auto,180px);
            column-gap: 0px;
        }
        &__desc {
            font-size: 12px;
            line-height: 16px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 25px;
        }
    }
    .resume {
        padding-top: 50px;
        .title_fz20 {
            font-size: 16px;
        }
        &__wrapper {
            padding: 10px 0 0 65px;
            grid-template-columns: repeat(2,305px);
        }
        &__subtitle {
            font-size: 24px;
            line-height: 40px;
        }
        .divider {
            margin: 0 auto;
        }
    }
    .myskills {
        .title_fz20 {
            font-size: 16px;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 40px;
        }
        &__wrapper {
            margin-top: 30px;
            grid-template-columns: repeat(3,228px);
            justify-content: space-between;
        }
        .divider {
            margin: 0 auto;
        }
    }
    .progress {
        &__wrapper {
            grid-template-columns: repeat(2,352px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .aboutme {
        &__wrapper {
            grid-template-columns: 260px 258px;
            grid-template-rows: auto;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/258px;
        }
        &__skill {
            grid-template-columns: 39px minmax(auto,219px);
            &__desc {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .resume {
        &__wrapper {
            margin-top: 15px;
            grid-template-columns: 474px;
            row-gap: 15px;
        }
    }
    .myskills {
        padding-top: 15px;
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(2,263px);
            justify-content: space-between;
        }
    }
    .progress {
        &__wrapper {
            grid-template-columns: repeat(2,262px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu__block {
        width: 250px;
        padding-left: 20px;
    }
    .menu__close {
        left: 195px;
    }
    .menu__social {
        left: 80px;
    }
    .promo {
        &_btn {
            margin-top: 32px;
        }
    }
    .aboutme {
        &__wrapper {
            grid-template: 340px / 1fr;
            grid-auto-rows: minmax(180px,auto);
            gap: 20px;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            margin-top: 0;
            grid-template: repeat(2,minmax(115px,auto))/300px;
            row-gap: 10px;
        }
        &__skill {
            grid-template-columns: 50px minmax(auto,250px);
            &-circle {
                margin-left: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
    .myskills {
        &__wrapper {
            padding: 0;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
    }
    .progress {
        &__wrapper {
            grid-template-columns: repeat(1,auto);
            gap: 30px;
        }
    }
}
