.promo {
    position: relative;
    min-height: 100vh;
    padding-top: 205px;
    background: url(../../img/main_bg.jpg) no-repeat 60%/cover;
    &__title {
        margin-top: 10px;
        width: 535px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include circle;
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
        width: 250px;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color:#000000;
        text-decoration: none;
        &:hover {
            color:  $main-color;
            text-decoration: none;
        }
    }
}
