.resume {
    padding-top: 120px;
    &__title{
        position: relative;
        text-align: center;
        @include circle;
            &:before {
                top: -20%;
                left: 50%;
                transform: translateX(-50%);
            }
    }
    &__subtitle {
        text-align: center;
    }
    .divider {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            @include circle;
                &:before {
                    left: -35px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -16px;
                    left: -60px;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: "";
            height: 1px;
            width: 42px;
            position: absolute;
            background-color: #000;
            left: -59px;
            top: 70px;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 50px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-icon {
            position: absolute;
            top: 65px;
            left: 0;
            @include circle;
                &:before {
                    left: -17px;
                    top: -13px;
                }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
        &-desc {
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }        
    }
}
